{% extends 'reviews/base.html' %}

{% block content %}
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8 col-xl-6 text-center">
            <h2 class="mt-0">Cambiar Contraseña</h2>
            <hr class="divider" />
        </div>
    </div>
    <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
        <div class="col-lg-6">
            <form id="contactForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ form.old_password.id_for_label }}" class="form-label">Contraseña Actual:</label>
                    {{ form.old_password }}
                    {% if form.old_password.errors %}
                        <div class="text-danger mt-2">{{ form.old_password.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.new_password1.id_for_label }}" class="form-label">Nueva Contraseña:</label>
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <div class="text-danger mt-2">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </div>
                <div class="mb-3">
                    <label for="{{ form.new_password2.id_for_label }}" class="form-label">Confirmar Nueva Contraseña:</label>
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <div class="text-danger mt-2">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Guardar</button>
                </div> 
            </form>
        </div>
    </div>
</div>
{% endblock %}
